<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>FriendFinder | Survey</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
  <style> @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');</style>
  <link rel="stylesheet" href="style.css">
  

</head>

<body>
    <ul class="lightrope">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
  <div class="container">
        <br>
        <br>
        <br>
        <br>

    <h1 class="bodytext"><strong>Find a Friend</strong></h1>
   
    <hr>

    <h5 class="survey">Name (Required)</h5>
    <input type="text" id="name" class="form-control" required>

    <h5 class="survey">Link to Photo Image (Required)</h5>
    <input type="text" id="photo" class="form-control" required>


    <br>
    <br>
    <br>
    <br>
    <h5 class="bodytext">How strongly do you agree or disagree with each statement?</h5>
    <br>
    <h5 class="survey">You believe that mornings are for coffee and contemplation.</h5>
    <select class="chosen-select" id="q1">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>

    <h5 class="survey">Generally speaking, you rely more on your experience than your imagination.</h5>
    <select class="chosen-select" id="q2">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>


    <h5 class="survey">You find it easy to stay relaxed and focused even when under pressure.</h5>
    <select class="chosen-select" id="q3">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>


    <h5 class="survey">Even though it's not very forgiving, you still think science is neat.</h5>
    <select class="chosen-select" id="q4">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>


    <h5 class="survey">People rarely upset you.</h5>
    <select class="chosen-select" id="q5">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>


    <h5 class="survey">You believe that friends don't lie.</h5>
    <select class="chosen-select" id="q6">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>


    <h5 class="survey">You fight for what you believe in.</h5>
    <select class="chosen-select" id="q7">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>

    <h5 class="survey">You regularly go on curiosity journeys.</h5>
    <select class="chosen-select" id="q8">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>

    <h5 class="survey">You think that everyone’s views should be respected regardless of whether they are supported by facts or not.</h5>
    <select class="chosen-select" id="q9">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>


    <h5 class="survey">You would do anything for your friends.</h5>
    <select class="chosen-select" id="q10">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>

    <br>
    <br>

    <button type="submit" class="surveybtn" id="submit"><i aria-hidden="true"></i>
     Submit</button>

    <hr>
    <footer class="footer">
      <div class="container">
        <p><a href="/api/friends">API Friends List</a> | <a href="https://github.com/afhaque/friendfinder">GitHub Repo</a></p>
      </div>
    </footer>

  </div>

  <div id="results-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"><strong>Explore the Upside Down with...</strong></h2>
        </div>
        <div class="modal-body">
          <h2 id="match-name"></h2>
          <img id="match-img" src="n" alt="">
        </div>
        <div class="modal-footer">
          <button class="closebutton" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <script type="text/javascript">

    // var config = {
    //   ".chosen-select": {},
    //   ".chosen-select-deselect": {
    //     allow_single_deselect: true
    //   },
    //   ".chosen-select-no-single": {
    //     disable_search_threshold: 10
    //   },
    //   ".chosen-select-no-results": {
    //     no_results_text: "Oops, nothing found!"
    //   },
    //   ".chosen-select-width": {
    //     width: "95%"
    //   }
    // };

    // for (var selector in config) {
    //   $(selector).chosen(config[selector]);
    // }

    $("#submit").on("click", function(event) {
      event.preventDefault();


      function validateForm() {
        var isValid = true;
        $(".form-control").each(function() {
          if ($(this).val() === "") {
            isValid = false;
          }
        });

        $(".chosen-select").each(function() {

          if ($(this).val() === "") {
            isValid = false;
          }
        });
        return isValid;
      }


      if (validateForm()) {

        var userData = {
          name: $("#name").val(),
          photo: $("#photo").val(),
          scores: [
            $("#q1").val(),
            $("#q2").val(),
            $("#q3").val(),
            $("#q4").val(),
            $("#q5").val(),
            $("#q6").val(),
            $("#q7").val(),
            $("#q8").val(),
            $("#q9").val(),
            $("#q10").val()
          ]
        };


        $.post("/api/friends", userData, function(data) {


          $("#match-name").text(data.name);
          $("#match-img").attr("src", data.photo);


          $("#results-modal").modal("toggle");

        });
      } else {
        alert("Fill out the fields! You don't want the demogorgon to get you!");
      }
    });
  </script>

</body>

</html>
