body{
    background-color: black;
    font-family: 'Roboto Mono', monospace;
}


.directions{
    color:#ff1515;
    top: 70%;
    left: 50%;
    margin: 20px;
   text-align: center;
}


.surveybtn{
    background-color: #ff1515;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: solid black 3px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    
}
